<!DOCTYPE html>
<html lang="en" ng-app="JulLabb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/Main.js"></script>

</head>
<body>

<div ng-controller="LogInController" data-ng-init="LoggedIn()">

    <h2>{{LoggedInUser}}</h2>

</div>

<div ng-controller="MovieController">

    <h1>Diven</h1>


    <input type="text" data-ng-model="filterMovies">
    <ul>
        <li data-ng-repeat="movie in Movies |  filter: filterMovies | orderBy: 'title'">
            {{movie.Title}} - {{movie.Year}}
        </li>
    </ul>

</div>

</body>
</html>